*.dll
*.lib
*.pdb
*.obj
*.exp
*.ilk
*.exe

CMakeCache.txt
*.Plo
*.Po
*.la
*.a
*.o
*.lo
*Makefile
libtiff-4.pc
libtool
tools/.libs/bmp2tiff
tools/.libs/fax2ps
tools/.libs/fax2tiff
tools/.libs/gif2tiff
tools/.libs/pal2rgb
tools/.libs/ppm2tiff
tools/.libs/ras2tiff
tools/.libs/raw2tiff
tools/.libs/rgb2ycbcr
tools/.libs/thumbnail
tools/.libs/tiff2bw
tools/.libs/tiff2pdf
tools/.libs/tiff2ps
tools/.libs/tiff2rgba
tools/.libs/tiffcmp
tools/.libs/tiffcp
tools/.libs/tiffcrop
tools/.libs/tiffdither
tools/.libs/tiffdump
tools/.libs/tiffinfo
tools/.libs/tiffmedian
tools/.libs/tiffset
tools/.libs/tiffsplit
tools/bmp2tiff
tools/fax2ps
tools/fax2tiff
tools/gif2tiff
tools/pal2rgb
tools/ppm2tiff
tools/ras2tiff
tools/raw2tiff
tools/rgb2ycbcr
tools/thumbnail
tools/tiff2bw
tools/tiff2pdf
tools/tiff2ps
tools/tiff2rgba
tools/tiffcmp
tools/tiffcp
tools/tiffcrop
tools/tiffdither
tools/tiffdump
tools/tiffinfo
tools/tiffmedian
tools/tiffset
tools/tiffsplit
.DS_Store
a.out
a.out.js
a.out.js.mem
CMakeFiles/3.3.1/CMakeSystem.cmake
CMakeFiles/3.3.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeError.log
CMakeFiles/CMakeOutput.log
config.log
config.status
contrib/addtiffo/.libs/addtiffo
contrib/addtiffo/addtiffo
contrib/dbs/.libs/tiff-bi
contrib/dbs/.libs/tiff-grayscale
contrib/dbs/.libs/tiff-palette
contrib/dbs/.libs/tiff-rgb
contrib/dbs/tiff-bi
contrib/dbs/tiff-grayscale
contrib/dbs/tiff-palette
contrib/dbs/tiff-rgb
contrib/iptcutil/.libs/iptcutil
contrib/iptcutil/iptcutil
libtiff.patched
libtiff/.DS_Store
libtiff/.libs/libtiff.5.dylib
libtiff/.libs/libtiff.dylib
libtiff/.libs/libtiff.lai
libtiff/.libs/libtiffxx.5.dylib
libtiff/.libs/libtiffxx.dylib
libtiff/.libs/libtiffxx.lai
libtiff/CustomTiffLoader.c
libtiff/CustomTiffLoader.h
libtiff/mkg3states
libtiff/stamp-h1
libtiff/stamp-h2
libtiff/tif_config.h
libtiff/tiffconf.h
